<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.dao.CourseDao">
    <resultMap id="courseMap" type="Course">
        <id property="cid" column="cid"/>
        <id property="tid" column="tid"/>
        <id property="startTime" column="startTime" jdbcType="DATE" />
        <id property="endTime" column="endTime" jdbcType="DATE" />
        <result property="course"  column="course" />
    </resultMap>

    <!--添加课程-->


    <insert id="addCourse" parameterType="com.abc.entity.Course">

        insert into sys_course (tid,course,cid,startTime,endTime) values (#{tid},#{course},#{cid},#{startTime},#{endTime})
    </insert>
    <!--删除课程-->
    <delete id="delete" parameterType="com.abc.entity.Course">
        delete from sys_course where tid=#{tid} and cid=#{cid} and startTime=#{startTime} and endTime=#{endTime}
    </delete>
    <!-- 修改课程   -->
    <update id="update" parameterType="com.abc.entity.Course">

        update sys_course set startTime=#{startTime},endTime=#{endTime} where cid=#{cid}
    </update>
    <!-- 为课程修改授课老师   -->
    <update id="updateTeacherForCourse" parameterType="String">
        update sys_course set tid=#{tid} where cid=#{cid}
    </update>
    <!-- 查单个课程   -->
    <select id="selectOne" parameterType="String" resultType="com.abc.entity.Course">
        select * from sys_course where tid=#{tid} and cid=#{cid} and startTime=#{startTime} and endTime=#{endTime}
    </select>
    <!-- 查所有课程-->
    <select id="selectAll" resultType="com.abc.entity.Course">
        select * from sys_course
    </select>
    <!-- 根据课程id查询课程-->
    <select id="selectStudentByCourse" parameterType="String" resultType="com.abc.entity.Student">
        select * from sys_course c,sys_course_student cs,sys_student s where c.cid=#{cid} and cs.cid=c.cid and cs.sid=s.sid
    </select>


    <!--根据cid删除课程-->
    <delete id="deleteCourseByCid" parameterType="String">
        delete from sys_course where cid=#{cid}
    </delete>

    <!-- 根据tid查询老师课程  -->
    <select id="selectCourseByTid" parameterType="String" resultType="com.abc.entity.Course">
        select * from sys_course where tid=#{tid}
    </select>

    <!--根据tid清空老师课程-->
    <delete id="clearTeacherCourse" parameterType="String">
        delete from sys_course where tid=#{tid}
    </delete>






</mapper>
