<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.dao.PerformanceDao">
    <resultMap id="baseMap" type="com.abc.entity.Performance">
        <id property="cid" column="cid"/>
        <id property="sid" column="sid"/>
        <id property="timeOffset" column="timeOffset" jdbcType="DATE" />
        <result property="attention_value"  column="attention_value" />
        <result property="expression_value"  column="expression_value" />
    </resultMap>


    <!-- 添加课堂表现   -->
    <select id="add"  resultType="com.abc.entity.Performance">
        insert into sys_performance (sid,cid,attention_value,timeOffset) values (#{sid},#{cid},#{attention_value},#{timeOffset})
    </select>

    <!-- 添加课堂中学生的表情   -->
    <select id="addEmotion"  resultType="com.abc.entity.Performance">
        insert into sys_performance (sid,cid,expression_value,timeOffset) values (#{sid},#{cid},#{expression_value},#{timeOffset})
    </select>
    <!-- 查单个学生某种课的所有表现   -->
    <select id="selectOne" resultMap="baseMap">
        select * from sys_performance where cid=#{cid} and sid=#{sid} and timeOffset=#{timeOffset}
    </select>
    <!-- 查单个学生某种课的所有表现   -->
    <select id="selectEmotionForSingleStu" resultType="int">
        select expression_value from sys_performance where cid=#{cid} and sid=#{sid} and timeOffset=#{timeOffset}
    </select>

    <!-- 查单个学生某种课的所有表现   -->
    <select id="selectOne11"  resultType="Integer">
        select attention_value from sys_performance where cid=#{cid} and sid=#{sid}
    </select>


    <!-- 查所有课堂表现-->
    <select id="selectAll" resultType="com.abc.entity.Performance" >
        select * from sys_performance where cid=#{cid} and sid=#{sid}
    </select>


</mapper>
